.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width:700px){
    .grid{
        display: flex;
        flex-direction: column;
    }
}

.ekskul-card:hover{
    scale: 1.5;
    cursor: pointer;
}